<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" href="css/style2.css">
</head>
<body>

<div class="container">
          
          <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
              <div class="container">
                  <a href="" class="navbar-brand"><h3 class="text-warning font-weight-bold">Employee MGM System</h3></a>
                  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navcollapse">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  
                  <div class="collapse navbar-collapse" id="navcollapse">
                      <ul class="navbar-nav ml-auto">
                          <li class="nav-item"><a href="/home" class="nav-link text-warning">Home</a></li>
                          
                          <li class="nav-item"><a href="/register" class="nav-link text-warning">Reg. Employee</a></li>
                          
                          <li class="nav-item"><a href="/showEmp" class="nav-link text-warning">Show Employee</a></li>
                          
                          
                      </ul>
                  </div>
              </div>
              
          </nav>
          
          
        
          
      </div>


<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>